backcall==0.1.0
click==6.7
colorama==0.3.9
decorator==4.3.0
Flask==1.0.2
flask-shell-ipython==0.3.0
Flask-SQLAlchemy==2.3.2
ipython==6.4.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
MarkupSafe==1.0
parso==0.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
Pygments==2.2.0
python-dotenv==0.8.2
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.10
traitlets==4.3.2
typing==3.6.4
wcwidth==0.1.7
Werkzeug==0.14.1
win-unicode-console==0.5
